<div class="container"> 
  
<button class="accordion">First Accordion</button>
    <div class="accordion-content">
      <h5>
        <span class="boldText">Usage:</span> rf.help
      </h5>
      
      <h5>
        <span class="boldText">Function:</span> This awesome shit right here, will enable you to view all of the commands! BAMM! Mic drop! no need of this website bye xd.
      </h5>
    </div>
  
  <button class="accordion">First Accordion</button>
    <div class="accordion-content">
      <h5>
        <span class="boldText">Usage:</span> rf.help
      </h5>
      
      <h5>
        <span class="boldText">Function:</span> This awesome shit right here, will enable you to view all of the commands! BAMM! Mic drop! no need of this website bye xd.
      </h5>
    </div>
</div>