<nav>
  
  <div class="logo">
    <img class='logo-img' src='https://cdn.glitch.com/be7c572c-a86e-4178-a8a9-59282936bcff%2FLogos%20(Face).png?v=1586586280915' alt='logo'/>
    <h2 class="rainbowText">Rainbow</h2>
    <h2 class="flameText">Flame</h2>
  </div>
  
  <ul class='nav-items'>
    <a href='#'><li>About</li></a>
    <a href='#'><li>Commands</li></a>
    <a href='#'><li>Contacts</li></a>
    <a href='/dashboard'><li>Dashboard</li></a>
  </ul>
</nav>