<div>
  
  <div class="input-dashboard">
    
  <h6>
    SELECT THE CHANNEL TO WELCOME YOUR MEMBERS
  </h6>
  <input type="dropdown" placeholder="Select Your Channel" />
  </div> 
  
  <div class="input-dashboard">
    
  <h6>
    TYPE IN YOUR WELCOME MESSAGE.
      </h6>
  <input type="text" placeholder="Enter your welcome message!" />
  </div>
  
</div>